{% extends "education/base.html" %}
{% block home_content%}
	
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(images/img_bg_4.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1 class="heading-section">About Us</h1>
									<h2>Taluk Office Perinthalmanna <a href="#" target="_blank">talukofficepmna.com</a></h2>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-about">
		<div class="container">
			<div class="col-md-6 animate-box">
				<span>About Our Website</span>
				<h2>Welcome to Officail Website Of Taluk Office Perinthalmanna</h2>
				<p>Our goal at the Perinthalmanna Taluk Office is to serve the community by offering easy access to all government services through this transparent and user-friendly online platform.</p>
				<p>The official website of the Perinthalmanna Taluk Office is designed to offer a seamless and transparent experience, ensuring that citizens can avail themselves of all services directly and efficiently.</p>
				<p>We value your feedback! Please share your thoughts and suggestions through our official website to help us improve and serve you better.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="images/img_bg_2.jpg" alt="">
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-world"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Foreign Followers</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-study"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Students Enrolled</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-bulb"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Classes Complete</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-head"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Certified Teachers</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>SECTIONS AND SUBJECTS</h2>
					<p>Select a subject from below for more information</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-th-menu"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION A</a></h3>
							<p>Recruitment and Training, Pay and Allowances, Postings, Deputation and Transfers, Promotions, etc </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-location-arrow"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION B</a></h3>
							<p>Survey and Land Records, Land Assignment, Land Reforms, Land Relinquishment, Wet/Paddy Lands, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-cog"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION C</a></h3>
							<p>CMDRF, Disaster Management, Mines and Minerals, General subjects, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-document"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION   D</a></h3>
							<p>Vaious Certificates Issued By Tahsildar, Legal Heirship Certificate, Court Cases, Fare Value Calculation, etc </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-user"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION E</a></h3>
							<p>Adding New Voters in Voters List, Special Summary Revision, All Other Election Related Enquiries</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-help"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION G &amp; F</a></h3>
							<p>Vaious Pensions, Cancer Pension, Tharam Maattam, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-home-outline"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION K</a></h3>
							<p>Building Tax, One Time Tax, Revenue Recovery, Bank Recovery, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-world"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Others</a></h3>
							<p>General Subjects</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
