{% extends "education/base.html" %}
{% block home_content%}
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(static/images/b1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Access all the relevant information about services at the Taluk Office in Perinthalmanna effortlessly</h1>
									<h2>Official Website <a href="http://freehtml5.co/" target="_blank">Talukofficepmna.com | 04933 227230</a></h2>
									<p><a class="btn btn-primary btn-lg" href="#">Start Learning Now!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(static/images/b2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Our goal is to make all Taluk Office services in Perinthalmanna easily accessible to the public</h1>
									<h2><a href="http://freehtml5.co/" target="_blank">Talukofficepmna.com | 04933 227230</a></h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">Start Learning Now!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(static/images/b3.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>In case of an emergency, contact the Taluk Emergency Operation Centre (TEOC) immediately.</h1>
									<h2>04933 227 230</h2>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>		   	
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>SECTIONS AND SUBJECTS</h2>
					<p>Select a subject from below for more information</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-th-menu"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION A</a></h3>
							<p>Recruitment and Training, Pay and Allowances, Postings, Deputation and Transfers, Promotions, etc </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-location-arrow"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION B</a></h3>
							<p>Survey and Land Records, Land Assignment, Land Reforms, Land Relinquishment, Wet/Paddy Lands, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-cog"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION C</a></h3>
							<p>CMDRF, Disaster Management, Mines and Minerals, General subjects, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-document"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION   D</a></h3>
							<p>Vaious Certificates Issued By Tahsildar, Legal Heirship Certificate, Court Cases, Fare Value Calculation, etc </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-user"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION E</a></h3>
							<p>Adding New Voters in Voters List, Special Summary Revision, All Other Election Related Enquiries</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-help"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION G &amp; F</a></h3>
							<p>Vaious Pensions, Cancer Pension, Tharam Maattam, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-home-outline"></i>
						</span>
						<div class="desc">
							<h3><a href="#">SECTION K</a></h3>
							<p>Building Tax, One Time Tax, Revenue Recovery, Bank Recovery, etc</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-world"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Others</a></h3>
							<p>General Subjects</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(static/images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-world"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Foreign Followers</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-study"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Students Enrolled</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-bulb"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Classes Complete</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-head"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Certified Teachers</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Services</h2>
					{% comment %} <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> {% endcomment %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://edistrict.kerala.gov.in/" class="course-img" target="_blank" style="background-image: url(static/images/eDIS.jpg);">
						</a>
						<div class="desc">
							<h3>CERTIFICATES</h3>
							<p>Common Certificates Issued By Thsildar, Caste, Income, Legal Heirship, Nativity, Domicile, etc. You Can Apply Through e-District Portal <p>
							<span><a href="https://edistrict.kerala.gov.in/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Apply</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://voters.eci.gov.in/" class="course-img" target="_blank" style="background-image: url(static/images/eci1.png);">
						</a>
						<div class="desc">
							<h3>ELECTION WING</h3>
							<p>Register To Vote, Application Form for shifting of Residence/Correction of Entries in Existing Electoral, Roll/Replacement of EPIC/Marking of PwD, etc </p>
							<span><a href="https://voters.eci.gov.in/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Apply</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://www.revenue.kerala.gov.in/" class="course-img" target="_blank" style="background-image: url(static/images/logo.jpg);">
						</a>
						<div class="desc">
							<h3>TRANSFER OF REGISTRY</h3>
							<p>Kerala Transfer of Registry Rules 1966 ,               For More Details Please Visit Revenue Department Official Website</p>
							<span><a href="https://www.revenue.kerala.gov.in/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Visit</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://ildm.kerala.gov.in/wp-content/uploads/2017/01/1.-LAND-ASSIGNMENT-ACT-1960.pdf" class="course-img" target="_blank" style="background-image: url(static/images/landassign.png);">
						</a>
						<div class="desc">
							<h3>LAND ASSIGNMENT</h3>
							<p>In Kerala, land assignment, governed by the Kerala Government Land Assignment Act, 1960, allows the Govt to assign land, subject to rules and conditions.</p>
							<span><a href="https://ildm.kerala.gov.in/wp-content/uploads/2017/01/1.-LAND-ASSIGNMENT-ACT-1960.pdf" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Visit</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://survey.entebhoomi.kerala.gov.in/portal/" class="course-img" target="_blank" style="background-image: url(static/images/ENTEBOOMI.png);">
						</a>
						<div class="desc">
							<h3>SURVEY OF LAND</h3>
							<p>Ente Bhoomi is the citizen portal of Integrated Land Information and Management System (ILIMS) developed by Govt of Kerala.</p>
							<span><a href="https://survey.entebhoomi.kerala.gov.in/portal/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Visit</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://www.revenue.kerala.gov.in/" class="course-img" target="_blank" style="background-image: url(static/images/TAX.png);">
						</a>
						<div class="desc">
							<h3>TAX PAYMENT</h3>
							<p>Integrated Revenue e-Payment System, Public can remit the amounts directly at village offices or through this system</p>
							<span><a href="https://www.revenue.kerala.gov.in/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Visit</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://rr.kerala.gov.in/" class="course-img" target="_blank" style="background-image: url(static/images/rr1.png);">
						</a>
						<div class="desc">
							<h3>Revenue Recovery</h3>
							<p>Kerala Revenue Recovery Act 1968 empowers the District Collector, to recover the Govt dues as noticed in the Act from the defaulter residing in the district having property</p>
							<span><a href="https://rr.kerala.gov.in/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Visit</a></span>
						</div>
					</div>
				</div> 
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="https://cmo.kerala.gov.in/" class="course-img" style="background-image: url(static/images/CMDRF1.png);">
						</a>
						<div class="desc">
							<h3>DISTRESS RELIEF</h3>
							<p>Chief Minister's Distress Relief Fund (CMDRF) Is An Emergency Assistance Release Mechanism to Individuals or Families </p>
							<span><a href="https://cmo.kerala.gov.in/" class="btn btn-primary btn-sm btn-course" target="_blank">Click To Visit</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial" style="background-image: url(static/images/school.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2><span>Organisational Profile</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(static/images/CM1.jpg);"></div>
									<span>Sri. Pinarayi Vijayan<br><small>Chief Minister, Government Of Kerala</small></span>
									<blockquote>
										{% comment %} <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p> {% endcomment %}
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(static/images/rm.jpg);"></div>
									<span>Sri. K Rajan<br><small>Minister for Revenue and Housing, Government Of Kerala</small></span>
									<blockquote>
										{% comment %} <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p> {% endcomment %}
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(static/images/dcmpm.jpg);"></div>
									<span>sri. V.R. Vinod<br><small>District Collector of Malappuram, Kerala</small></span>
									<blockquote>
										{% comment %} <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p> {% endcomment %}
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(static/images/);"></div>
									<span>Sri. Venugopalan.A<br><small>Tahsildar, Taluk office Perinthalmanna</small></span>
									<blockquote>
										{% comment %} <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p> {% endcomment %}
									</blockquote>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Events</h2>
					{% comment %} <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> {% endcomment %}
				</div>
			</div>
			<div class="row row-padded-mb">
				<div class="col-md-4 animate-box">
					<div class="fh5co-event">
						<div class="date text-center"><span>22<br>Mar.</span></div>
						<h3><a href="#"> പട്ടയ അസംബ്ലി - ഭൂരഹിതരില്ലാത്ത നവകേരളത്തിനായി - മങ്കട നിയോജക മണ്ഡലം</a></h3>
						<p>കേരള സര്ർക്കാർ റവന്യു വകുപ്പ്. മങ്കട ബ്ലോക്ക് പഞ്ചായത്ത് ഹാള് </p>
						<p><a href="#">Read More</a></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="fh5co-event">
						<div class="date text-center"><span>21<br>Dec.</span></div>
						<h3><a href="#">കരുതലും കെെത്താങ്ങും - 2024</a></h3>
						<p>താലൂക്ക് തല അദാലത്ത് - പരാതി പരിഹാര അദാലത്ത്</p>
						<p><a href="#">Read More</a></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="fh5co-event">
						<div class="date text-center"><span>21<br>Dec.</span></div>
						<h3><a href="#">നവകേരള സദസ്സ് - 2023</a></h3>
						<p>മുഖ്യമന്ത്രിയും മന്ത്രിമാരും 140 മണ്ഡലങ്ങളില് ജനങ്ങളുമായി സംവദിക്കുന്നു</p>
						<p><a href="#">Read More</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-img-holder" style="background-image: url(static/images/eid.png);"></a>
						<div class="blog-text">
							<h3><a href="#">Eid Mubarak</a></h3>
							<span class="posted_on">March. 31</span>
							<span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
							<p>May the joy of Eid illuminate your life and bring you closer to your family and friends</p>
						</div> 
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-img-holder" style="background-image: url(static/images/vishu.png);"></a>
						<div class="blog-text">
							<h3><a href="#">Vishu 2025</a></h3>
							<span class="posted_on">April. 14th</span>
							<span class="comment"><a href="">11<i class="icon-speech-bubble"></i></a></span>
							<p>Happy Vishu! May this year bring you joy, prosperity, and happiness.</p>
						</div> 
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-img-holder" style="background-image: url(static/images/health.png);"></a>
						<div class="blog-text">
							<h3><a href="#">World Health Day</a></h3>
							<span class="posted_on">April. 7th</span>
							<span class="comment"><a href="">2<i class="icon-speech-bubble"></i></a></span>
							<p>World Health Day is a global health awareness day celebrated every year on 7 April</p>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-pricing" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Online Services &amp; Relevent Orders</h2>
					<p>You Can Find and Download Various Forms and Relevant Orders from Here</p>
				</div>
			</div>
			<div class="row">
				<div class="pricing pricing--rabten">
					<div class="col-md-4 animate-box">
						<div class="pricing__item">
							{% comment %} <div class="wrap-price"> {% endcomment %}
								 <!-- <div class="icon icon-user2"></div> -->
	                     {% comment %} <h3 class="pricing__title">Online Services</h3> {% endcomment %}
	                     <!-- <p class="pricing__sentence">Single user license</p> -->
							{% comment %} </div> {% endcomment %}
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">Online Services</span>
                        </span>
                        {% comment %} <span class="pricing__anim pricing__anim--2"> {% endcomment %}
								{% comment %} <span class="pricing__period">per year</span> {% endcomment %}
                        {% comment %} </span> {% endcomment %}
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">Revenue Land Information System</li>
	                        <li class="pricing__feature">Tharam Maattam Land</li>
	                        <li class="pricing__feature">E - Maps</li>
	                        <li class="pricing__feature">Integrated e-Payment System</li>
	                        <li class="pricing__feature">Revenue Certificate Service</li>
	                        <li class="pricing__feature">Revenue Mitram</li>
	                        <li class="pricing__feature">Releif Portal</li>
	                     </ul>
	                     <button class="pricing__action">CLICK TO CHECK</button>
                     </div>
                  </div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="pricing__item">
							{% comment %} <div class="wrap-price"> {% endcomment %}
								<!-- <div class="icon icon-store"></div> -->
	                     {% comment %} <h3 class="pricing__title">Silver</h3> {% endcomment %}
	                     <!-- <p class="pricing__sentence">Up to 5 users</p> -->
							{% comment %} </div> {% endcomment %}
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">Various Forms</span>
                        </span>
                        {% comment %} <span class="pricing__anim pricing__anim--2"> {% endcomment %}
								{% comment %} <span class="pricing__period">per year</span> {% endcomment %}
                        {% comment %} </span> {% endcomment %}
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">FORM 1</li>
	                        <li class="pricing__feature">FORM 2</li>
	                        <li class="pricing__feature">FORM 3</li>
	                        <li class="pricing__feature">FORM 4</li>
	                        <li class="pricing__feature">FORM 5</li>
	                        <li class="pricing__feature">FORM 6</li>
	                        <li class="pricing__feature">FORM 7</li>
	                     </ul>
	                     <button class="pricing__action">CLICK TO CHECK</button>
                     </div>
                 </div>
					</div>
					<div class="col-md-4 animate-box">
                  <div class="pricing__item">
                  	{% comment %} <div class="wrap-price"> {% endcomment %}
                  		<!-- <div class="icon icon-home2"></div> -->
	                     {% comment %} <h3 class="pricing__title">Gold</h3> {% endcomment %}
	                     <!-- <p class="pricing__sentence">Unlimited users</p> -->
							{% comment %} </div> {% endcomment %}
                     <div class="pricing__price">
                        <span class="pricing__anim pricing__anim--1">
								<span class="pricing__currency">Relevent Orders</span>
                        </span>
                        {% comment %} <span class="pricing__anim pricing__anim--2"> {% endcomment %}
								{% comment %} <span class="pricing__period">per year</span> {% endcomment %}
                        {% comment %} </span> {% endcomment %}
                     </div>
                     <div class="wrap-price">
                     	<ul class="pricing__feature-list">
	                        <li class="pricing__feature">Order signed 1</li>
	                        <li class="pricing__feature">Order signed 2</li>
	                        <li class="pricing__feature">Order signed 3</li>
	                        <li class="pricing__feature">Order signed 4</li>
	                        <li class="pricing__feature">Order signed 5</li>
	                        <li class="pricing__feature">Order signed 6</li>
	                         <li class="pricing__feature">Order signed 7</li>
	                     </ul>
	                     <button class="pricing__action">CLICK TO CHECK</button>
                     </div>
                  </div>
               </div>
            </div>
			</div>
		</div>
	</div>

	<div id="fh5co-register" style="background-image: url(static/images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 animate-box">
				<div class="date-counter text-center">
					<h2>Get 400 of Online Courses for Free</h2>
					<h3>By Mike Smith</h3>
					<div class="simply-countdown simply-countdown-one"></div>
					<p><strong>Limited Offer, Hurry Up!</strong></p>
					<p><a href="#" class="btn btn-primary btn-lg btn-reg">Register Now!</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-gallery" class="fh5co-bg-section">
		<div class="row text-center">
			<h2><span>Gallery</span></h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-padded">
				<a href="#" class="gallery" style="background-image: url(static/images/1.jpg);"></a>
			</div>
			<div class="col-md-3 col-padded">
				<a href="#" class="gallery" style="background-image: url(static/images/2.jpg);"></a>
			</div>
			<div class="col-md-3 col-padded">
				<a href="#" class="gallery" style="background-image: url(static/images/3.jpg);"></a>
			</div>
			<div class="col-md-3 col-padded">
				<a href="#" class="gallery" style="background-image: url(static/images/4.jpg);"></a>
			</div>
		</div>
	</div>
{% endblock %}